html,body {
      position: relative;
      height: 100%;
    }
    .swiper {
      width: 100%;
      height: 100vh;
    }

     .swiper-slide {
  width: 100%;
  height: 100vh;
}

.slide1 { background: url("img/img1.jpg") center/cover no-repeat; }
.slide2 { background: url("img/img2.jpg") center/cover no-repeat; }
.slide3 { background: url("img/img3.jpg") center/cover no-repeat; }

/* .content h1{}
.content p{} */
.swiper-slide3 {
  background-image: url("img/img3.jpg");
  background-size: cover;
  background-position: center;
}


   
    /* .swiper-slide img {
      display: block;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
    } */
     
     
    .swiper-button-next,
.swiper-button-prev {
  background-color: white;
   color: black !important;
  width: 30px !important;
  height: 30px !important;
  padding: 20px !important;
  border-radius: 50%;
  border: 2px solid black;
}

